<h1>ALL THE CATS</h1>
<pre><%= @cats.to_s %></pre>
<a href="/cats/new">New cat!</a>
All the helpers
<ul>
<li>cats_url: <%= cats_url(1) %></li>
<li>cat_url(1): <%= cat_url(1) %></li>
<li>new_cat_url: <%= new_cat_url(1) %></li>
<li>edit_cat_url(1): <%= edit_cat_url(1) %></li>
</ul>